extends layout.pug

block body
  div
    div
      h2.mt-1.text-center.text-4xl.leading-10.font-extrabold.text-gray-900
        | Welcome to your TripCost account
    div
      a.mt-20.text-center.text-2xl.leading-10.font-extrabold.text-blue-700.pb-10.block(href='/trip')
                  | New Trip     
      div
        if trips.length > 0
      h3.mt-6.text-center.text-xl.leading-9.font-extrabold.text-gray-900.pb-10(href='/')
        | All your trips
      .flex.flex-col
        .-my-2.py-2.overflow-x-auto(class='sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8')
          div(class='sm:rounded-lg')
            table.min-w-full
              tbody.bg-white
                each trip in trips

                  tr
                    td.px-6.py-4.whitespace-no-wrap.border-b.border-gray-200.text-sm.leading-5.font-medium.text-gray-900
                      a.mt-6.text-center.text-1xl.leading-9.font-extrabold.text-black-500.block(href=`/trips/${trip.name}`)
                        | #{trip.name}
